html, body, div, p, li, ul {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

body.language_zh{
    font-family:"Microsoft YaHei", "Helvetica Neue",Helvetica,"Hiragino Sans GB",Arial,sans-serif;
}

a {
    color: #01BCD7;
    text-decoration: none;
    line-height: 20px;
}


h2 {
    color: #2A394C;
    font-size: 20px;
    line-height: 42px;
    margin: 18px 0;
}


.clear{
    height: 1px;
    clear: both;
}
.clear40 {
    height: 40px;
    clear: both;
}

.clear80{
    height: 80px;
    clear: both;
}
.clear50 {
    height: 50px;
    clear: both;
}

.clear20{
    height: 20px;
    clear: both;
}
.clear10 {
    height: 10px;
    clear: both;
}


#header_web{
    display: none;
}

.header_img_web,.header_img{
    width: 100%;
}

.mm_cc{
    max-width: 900px;
    margin: 0 auto 20px auto;
}

.mm_ccw{
    margin: 0 20px;
}


.mm_cc p{
    color: #8492A4;
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0;
}


#mm1 p{
    text-align: center;
    font-size: 24px;
    color: #2A394C;
    margin: 0;
}

#mm2{
    text-align: center;
    margin: 20px auto 35px auto;
}

#mm2 p{
    margin: 0;
}
#mm4{
    margin-bottom: 70px;
}

#mm4 a{
    display: block;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    background-color: #00BCD7;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    margin: 20px auto;
    font-size: 14px;
}

#mm8{
    background-color: #F9FBFC;
    /*margin: 0;*/
    padding: 40px 0;
}

.mm8_chat{
    margin: 0 20px;
}

.mm8_chat .avatar{
    display: block;
    width: 35px;
    height: 35px;
}

.mm8_chat_left img {
    float: left;
}

.mm8_chat_right img {
    float: right;
}

#mm8 .dialog {
    width: 186px;
}



.mm9_block_left {
    float: left;
}

.mm9_block_right {
    float: right;
}

#mm9 .h3w{
    height: 82px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mm9 .h3 {
    color: #8492A4;
    font-size: 13px;
    text-align: center;
    /*margin-top: 14px;*/
}

.mm9_cc {
}

.mm9_icon {
    width: 64px;
    height: 64px;
    background-color: #E6F1F2;
    border-radius: 100px;
    margin: 20px auto 0 auto;
}

.mm9_icon img{
    display: block;
    width: 100%;
}

.mm9_block {
    width: 149px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 6px;
}

#mm11{
    background-color: #F9FBFC;
}

#mm11 .mm_cc{
    margin-bottom: 0;
}


.mm11_video_cover{
    width: 100%;
    max-width: 700px;
    margin: 35px auto;
    display: block;
}

.mm11_video_cover_w{
    /*display: block;*/
    max-width: 700px;
    margin: 0 auto;
}

.language_zh #mm9 .h3 {
    font-size: 18px;
}


#mm6{
    position: relative;
}

#mm6_bg{
    width: 100%;
    height: 180px;
    position: absolute;
    z-index: 1;
    top: 26px;
    left: 0;
}

.mm6_bg1{
    background-color: #B3EBF3;
    border-radius: 5px;
    width: 96%;
    margin: 0 auto;
    height: 100%;
}

.mm6_content{
    position: relative;
}

.mm6_swiper{
    width: 90%;
    margin: 0 auto;
}

.mm6_swiper_content{
    margin: 0 15px;
    line-height: 24px;
}
.language_en .mm6_swiper_content{
    font-size: 14px;
    line-height: 20px;
}

.swiper-container {
    max-width: 100%;
    height: 240px;
    max-height: 100%;
    margin: 10px auto;
}

.swiper-slide {

    background-color: #01BCD7;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    height:230px;



    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 7px;
}

.swiper-pagination-bullet-active {
    background: #01BCD7;
}
.swiper-pagination{
    bottom: -30px;
    left: 0;
    width: 100%;
}

#mm8_web{
    background-color: #F9FBFC;
    display: none;
    padding: 80px 0;
    width: 100%;
    max-width: 99999px;
}

#mm8_web img{
    display: block;
    margin: 0 auto;
}


.footer{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #E6EBEC;
}

.footer .mm_cc{
    margin: 0 auto;
    padding: 0;
}

.footer .mm_ccc{
    margin: 0 20px;
}

.footer a{
    display: inline-block;
    margin-left: 15px;
    color: #444C56;
}

.footer_left{
    float: left;
    color: #444C56;
}
.footer_right{
    float: right;
}

.footer a.footer_current{
    color: #4D9BFF;
}


@media screen and (max-width: 900px) {

    #mm4 {
        margin-bottom: 50px;
    }

    h2 {
        margin-top: 40px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    #mm9 h2{
        margin-bottom: 35px;
    }
}


@media screen and (min-width: 900px) {
    .mm_cc{
        margin: 0 auto 100px auto;
    }

    .mm_cc p{
        font-size: 20px;
    }

    #mm1{
        margin-bottom: 35px;
        margin-top: 5px;
    }

    #mm1 p {
        font-size: 30px;
    }

    #mm2{
        margin-bottom: 40px;
    }

    #mm2 p{
        font-size: 22px;
    }

    #mm8{
        display: none;
    }

    #mm8_web{
        display: block;
    }
    #header{
        display: none;
    }

    #header_web{
        display: block;
    }

    #mm4{
        width: 560px;
        margin: 0 auto;
    }
    #mm4 a{
        height: 52px;
        line-height: 52px;
        float: left;
        margin: 0;
        font-size: 18px;
        width: 260px;
    }

    #mm4 .white_paper{
        margin-left: 30px;
    }

    .mm9_cc_md{
        display: none;
    }

    .mm9_block{
        width: 199px;
        margin-right: 19px;
    }

    .mm9_icon {
        width: 88px;
        height: 88px;
        margin-top: 30px;
    }

    .mm9_block_right{
        float: left;
    }

    .mm9_block_last{
        margin-right: 0px;
    }

    #mm9 .h3w {
        height: 115px;
    }

    .language_en #mm9 .h3{
        font-size: 16px;
    }



    #mm6{
        margin-bottom: 30px;
    }

    .mm6_swiper_content {
        margin: 0 70px;
        font-size: 18px !important;
        line-height: 28px;
    }

    h2{
        text-align: center;
        font-size: 30px;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    h2.about_soma{
        margin-top: 80px;
    }



}

